<div class="range js-range {{ class }}">
	{{> @label name="option-a" text="Label" class="range__label"}}
	<input class="range__input" type="range" min="{{ min }}" max="{{ max }}" step="{{ step }}">
</div>
<div class="range js-range {{ class }}">
	{{> @label name="option-b" text="Label"class="range__label"}}
	<input class="range__input" type="range" min="{{ min }}" max="{{ max }}" step="{{ step }}">
</div>